.App {
  text-align: center;
}

.App-header {
  background-color: #8b82c3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-link {
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
  padding: 20px 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 70%);
  background: radial-gradient(circle at 17% 98%, #326da8, #9c8e8e);
  font-size: 20px;
}

ul li  {
  display: inline-block;
  margin: 10px;
  color: white;
}

a {
  color: white;
  background-color: transparent;
}
